.body {
  margin: 0;
  font-family: sans-serif;
}
.title {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__heading {
  text-align: center;
}

.card__heading--color {
  color: #fff;
}

.card {
  margin: 1.25rem;
}
.card__image {
  max-width: 300px;
}

.card__text {
  text-align: center;
  text-decoration: underline;
  color: #fff;
}

.card--black {
  box-shadow: 5px 5px 7px 5px #bebfba;
  padding: 10px;
  background-color: #000000;
}

.card--blue {
  box-shadow: 5px 5px 7px 5px #bebfba;
  padding: 10px;
  background-color: #248ad2;
}

.card--brown {
  box-shadow: 5px 5px 7px 5px #bebfba;
  padding: 10px;
  background-color: #3f3539;
}

.card--grey {
  box-shadow: 5px 5px 7px 5px #bebfba;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:  10px;
  padding-right: 10px;
  background-color: #a9a2a4;
}
