@font-face {
  font-family: 'star-wars';
  src: url('/fonts/Starjedi.ttf');
}

body {
  margin: 0;
  font-family: 'star-wars';
  background-color: #bebfba;
  max-width: 1550px;
  margin: 0 auto;
}
.title {
  text-align: center;
  color: gray;
  text-transform: uppercase;
}
.card__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__heading {
  text-align: center;
}

.card__heading--color {
  color: #fff;
}

.card {
  margin: 1.25rem;
}
.card__image {
  max-width: 18.75rem;
}

.card__text {
  text-align: center;
  color: #fff;
}

.card--black {
  box-shadow: 0.3125rem 0.3125rem 0.4375rem 0.3125rem #bebfba;
  padding: 1rem;
  background-color: #000000;
}

.card--blue {
  box-shadow: 0.3125rem 0.3125rem 0.4375rem 0.3125rem #bebfba;
  padding: 0.625rem;
  background-color: #248ad2;
}

.card--brown {
  box-shadow: 0.3125rem 0.3125rem 0.4375rem 0.3125rem #bebfba;
  padding: 1.0625rem;
  background-color: #3f3539;
}

.card--grey {
  box-shadow: 0.3125rem 0.3125rem 0.4375rem 0.3125rem #bebfba;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  background-color: #a9a2a4;
}

.btn {
  border-radius: 0.3125rem;
  border: 0.1875rem solid #bebfba;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  color: gray;
  font-family: 'star-wars';
}

.btn--red:hover {
  background-color: red;
}

.btn--green:hover {
  background-color: lightgreen;
}
